{% extends "auth_template_base.html"%}
{% block tittle %} Gimnas DWES05 - Login {% endblock %}
{% block content %}
  <div class="form-signin">
    <img class="mb-4" src="{{url_for('static', filename='img/gym.png')}}" alt="" width="90%" height="90%">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alter-dismissable fade show row" role="alert">
            <div class="col-11 text-center">{{ message }}</div>
            <div class="col-1 text-right">
              <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
          </div>
          {% else %}
          <div class="alert alert-success alter-dismissable fade show row" role="alert">
            <div class="col-11 text-center">{{ message }}</div>
            <div class="col-1 text-right">
              <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form class="text-dark" role="form"  method="post"	action="{{ url_for('auth.login')}}">
      {{ form.hidden_tag() }}
      <div class="form-floating">
        {{ form.username(class_="form-control", size=15, placeholder="Usuario") }}
        {{ form.username.label(class_="text-center") }}
      </div>
      <div class="form-floating">
        {{ form.password(class_="form-control", placeholder="Password") }}
        {{ form.password.label(class_="text-center") }}
      </div>
      {{ form.submit(class="w-100 btn btn-lg btn-success") }}
      <p class="mt-5 mb-3 text-muted">&copy; A.Martinez - 2022</p>
    </form>
  </div>
{% endblock %}