@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Noto+Sans+Display&family=Noto+Sans+JP&family=Quicksand&family=Roboto&family=Ubuntu&family=Ubuntu+Mono&=family=Orbitron:wght@500&display=swap');

:root {
    --clr-white: #fff;
    --bg-dark: #212529;

    --sun-center:#fac0ad;
    --sun-shadow-02: #F28C38;
    --sun-shadow-01: hsl(47, 100%, 88%);

    --clr-primario: #ae1a1a;
    /* --clr-primario: #e1dad4; */
    --clr-primario-light: #fff;
    --clr-primario-2: #EBE8E8;
    --clr-primario-dark: #555150;

    --clr-primary-200: #f3ed99;
    --clr-primary-300: #FED0D1;
    --clr-primary-700: #F34A4E;
    --clr-primary-800: #FF0040;
    --clr-primary-900: #B40431;

    --clr-neutral-000: #fff;
    --clr-neutral-200: #EAEDED;
    --clr-neutral-300: #E5E8E8;
    --clr-neutral-500: #B2BABB;
    --clr-neutral-800: #2E2E2E;
    --clr-neutral-900: #1C1C1C;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: -1em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #555;
}

.primary-header {
    height: 130px;
    margin: 0;
    justify-content: space-between;
}

.brand > #logo {
    margin: 5px;
    width: 120px;
    float: left;
}

.brand > h1 {
    float: left;
    margin-top: 3rem;
    margin-left: 1rem;
}

.bg-dark {
    background-color: var(--bg-dark);
}

.text-white {
    color: var(--clr-white);
}

.nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: transparent;
    border: transparent;
    top: 5%;
    right: 2rem;
}

.nav-toggle .fa {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

nav {
    display: none;
}

/*sr-only es una funcionalidad calco de bootstrap para ocultar información 
destinada a lectores de pantalla*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.primary-navigation {
    --gap: 1em;
    position: fixed;
    z-index: 1000;
    width: 30%;
    right: 0;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.primary-navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation li {
    font-size: 1.5em;
}

.primary-navigation li {
    font-size: 1.5em;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a .nav-link-container {
    padding-block: 2.8rem;
    padding-inline: 1rem;
}

.primary-navigation a>*:hover {
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-900);
}

.primary-navigation li.active a .nav-link-container {
    background-color: var(--clr-neutral-200);
    color: var(--clr-primario);
}

section p {
    padding: .5em ;
    /* text-align: justify; */
}

article > header > h3 {
    margin: 2rem;
}

.container {
    width: 100%;
    margin: auto;
    padding: 2rem;
    /* background-color: #fff; */
}

/* section impares con color blanco */
.bg-section:nth-of-type(odd) {
    background-color: var(--clr-primario-light);
}

/* Section pares con color primario-2 */
.bg-section:nth-of-type(even) {
    background-color: var(--clr-primario-2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.row > * {
    --bs-gutter-y: .5em;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 1em);
    padding-left: calc(var(--bs-gutter-x) * 1em);
    margin-top: var(--bs-gutter-y);
}

.row > img {
    justify-content: center;
    margin: auto;
}


img {
    margin: auto;
}

button{
    justify-items: center;
    margin: auto;
}

.col {
    flex: 0 0 auto;
    width: auto;
    margin: auto;
}

.col > .img-fadeout {
    margin: 3em;
}

#llista {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    width: 100%;
    list-style: none;
}

#llista li{
    padding: .5em;
}

/* Section pares con color primario-2 */
#llista li:nth-of-type(even){
    background-color: var(--clr-primario-2);
}

li .row .col {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 300px;	*/
    margin: 1em;
}

.editor {
    margin: 1em;
}

footer {
    /* background-color: var(--clr-primario); */
    color: var(--clr-neutral-000);
    text-align: center;
    padding: 1.5rem;
}

footer a{
    color: var(--clr-neutral-000);
    text-decoration: none;
    font-size: 25px;
}

.social-media-links {
    padding: 0.3em;
}

.social-media-links a {
    padding: .3em;
}

.btn {
    width: 250px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn-warning {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.btn-warning:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

/*------------ UTILITIES --------------*/

.text-center {
    text-align: center;
}

.group .tooltip{
    float: right;
    margin-left: 1em;
    margin-top: 2px;
    color: #1a1a1a;
}

.tooltip .tooltipText {
    display: none;
    width: auto;
    background-color: #ebdb4a;
    color: #000;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip:hover .tooltipText {
    display: block;
    opacity: 1;
    width: 300px;
    padding: 0 1em 0 .6em;
    /* position: absolute; */
    border: 2px solid #555;
    margin-left: -10px;
}

.tooltipText > ul {
    text-align: left;
}

#panel{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #645e5e;
    color: white;
    border: solid 1px #666;
    border-radius: 10px;
}
  
#panel {
    padding: 50px;
    display: none;
}

.spider p{
    margin-top: -1.5em;
    color: #898999;
}

#spider{
    margin-top: -2em;
    transform: rotate(180deg);
}

.pcontador,
.pvcontador {
    padding: 1em;
    background-color: #1b1414;
    border-radius: 5px;
    color: #ffffff;
}

.pcontador > span,
.pvcontador > span {
    color: #aaf138;
    font-family: 'Orbitron', sans-serif;
}

/*------------ MEDIA QUERIES ------------*/
/* Small devices (less than 575.8px) */
@media (max-width: 575.8px){
    .primary-navigation {
        width: 100%;
    }
}
