@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Noto+Sans+Display&family=Noto+Sans+JP&family=Quicksand&family=Roboto&family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {
    --clr-white: #fff;
    --bg-dark: #212529;


    --clr-primario: #ae1a1a;
    /* --clr-primario: #e1dad4; */
    --clr-primario-light: #fff;
    --clr-primario-2: #EBE8E8;
    --clr-primario-dark: #555150;

    --clr-primary-200: #f3ed99;
    --clr-primary-300: #FED0D1;
    --clr-primary-700: #F34A4E;
    --clr-primary-800: #FF0040;
    --clr-primary-900: #B40431;

    --clr-neutral-000: #fff;
    --clr-neutral-200: #EAEDED;
    --clr-neutral-300: #E5E8E8;
    --clr-neutral-500: #B2BABB;
    --clr-neutral-800: #2E2E2E;
    --clr-neutral-900: #1C1C1C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    /* width: 100%; */
    height: 100px;
    margin: 0;
    justify-content: space-between;
}

header h1 {
    margin-left: 2rem;
}

.align-center {
    padding: 30px 0;
}

.bg-dark {
    background-color: var(--bg-dark);
}

.text-white {
    color: var(--clr-white);
}

.nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: transparent;
    border: transparent;
    top: 2.3rem;
    right: 2rem;
}

.nav-toggle .fa {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

nav {
    display: none;
}

/*sr-only es una funcionalidad calco de bootstrap para ocultar información 
destinada a lectores de pantalla*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.primary-navigation {
    --gap: 1em;
    position: fixed;
    z-index: 1000;
    width: 30%;
    right: 0;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.primary-navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation li {
    font-size: 1.5em;
}

.primary-navigation li {
    font-size: 1.5em;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a .nav-link-container {
    padding-block: 2.8rem;
    padding-inline: 1rem;
}

.primary-navigation a>*:hover {
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-900);
}

.primary-navigation li.active a .nav-link-container {
    background-color: var(--clr-neutral-200);
    color: var(--clr-primario);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}


.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.btn {
    margin-left: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

/*------------ UTILITIES --------------*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltipText {
    display: none;
    width: 130px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltipText {
    display: block;
    opacity: 1;
}

/*------------ MEDIA QUERIES ------------*/
/* Small devices (less than 575.8px) */
@media (max-width: 575.8px){
    .primary-navigation {
        width: 100%;
    }
}
