<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>

    <title>Tasca DWES07 - Flask + Javascript </title>
  </head>
  <body onload="cargaBasic()">
    <h1>Tasca DWES07 - Flask + Javascript</h1>
    <div class="alert alert-secondary" role="alert">
      <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary" onclick="PantallaUsuari()"  id="butPU">
            Reservar pista</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-light" onclick="VeureReserves()"  id="butVR">
            Veure Reserves </button>
        </div>
                <div class="col-sm-2">
          <img src="../static/user.png" width="40">
           {{ current_user.nom }} {{ current_user.llinatges }} 
         </div>
        <div class="col-sm-2">

          <form name="canviPantalla" method="GET" action="{{url_for('logout')}}">
            <button type="submit" class="btn btn-danger">Logout </button>
          </form>
        </div>
      </div>
    </div>

    <div id="alertaReserva" class="alert alert-danger" role="danger" style="display:none;">
      </div>
    <div class="row" id="pantallaReserva">
        <div class="col-sm-6">
          <h2> Reserva pista</h2>
      <p>
        <label for="dia">Dia:</label>
        <input type="date" id="dia" name="dia">
        <label for="hora">Hora:</label>
        <input type="number" step="1" max="20" min="15" name="hora" id="hora" required>
    </p>
      <p>
        <label for="tipopista">Tipus pista:</label>
              <select class="form-select" id="tipopista" name="tipopista">
                <option value="Coberta"> Coberta - 12 €</option>
                <option value="Exterior"> Exterior - 8 €</option>
              </select>
        <label for="multiple">Reserva múltiple:</label>
              <select class="form-select" id="multiple" name="multiple" value="1">
                <option value="1"> Fer només 1 reserva</option>
                <option value="2"> Reservar per les pròximes 2 setmanes a la mateixa hora</option>
                <option value="4"> Reservar per les pròximes 4 setmanes a la mateixa hora</option>           
              </select>
    </p>
        <div style="text-align: center">
        <button tclass="btn btn-success" onclick="EnviaForm()"  id="butForm">Envia Reserva</button>
    </div>
    <h2> Les meves reserves </h2>
    <div class="table-responsive">
  <table id="TaulaUsuari" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
      <th>Dia</th><th>Hora</th><th>Pista</th></thead>
    <tbody>

    </tbody>
  </table>
</div>


  </div>
  </div>



  <div id="pantallaMostra" class="row"  style="display:none;">
    <div class="col-sm-9">
              <div class="alert alert-primary" role="alert">
                <div class="row">
          <div class="col-sm-2">
             <img src="../static/left.png" onclick="SemanaMenos()">
          </div>
          <div class="col-sm-8">
           <h2 id="titolReserves"> Reserves setmana {{session['lunes']}}  a {{session['viernes']}}</h2>
          </div>
          <div class="col-sm-2">
             <img src="../static/right.png" onclick="SemanaMas()">
          </div>   
          </div>       
        </div>
      <ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="pistaCoberta" class="nav-link active" onclick="CanviPistaCoberta()">Coberta</a>
  </li>
  <li class="nav-item">
    <a id="pistaExterior" class="nav-link" onclick="CanviPistaExterior()">Exterior</a>
  </li>
</ul>
    <div class="table-responsive">
  <table id="reservesPista" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
      <th></th><th>Dilluns</th><th>Dimarts</th><th>Dimecres</th><th>Dijous</th><th>Divendres</th></thead>
    <tbody>

    </tbody>
  </table>
</div>
</div>
<p id="idusuari" hidden>{{ current_user.id }}</p>
<p id="dilluns" hidden>{{session['dia']}}</p>
<p id="username" hidden>{{ current_user.username }}</p>
  </body>
</html>