<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --> 
  <!-- Scripts nuevos -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script> -->
  <!-- <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script> -->
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <title>Tasca DWES07 - Flask + Javascript </title>
</head>
<!-- <body onload="cargaBasic()"> -->
<body>
  <header class="px-3 py-2 bg-dark text-white text-center">
    <div class="container">
        <a href="#" class="text-white text-decoration-none"></a>
          <h1 class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-heart-fill text-danger my-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
          </svg>
          Tasca DWES07 - Flask + Javascript
          </h1>
        </a>
    </div>
  </header>
  {% include 'nav.html' %}
  <main class="container h-90">
    <!-- <h1>Tasca DWES07 - Flask + Javascript</h1> -->
    <!-- <div class="alert alert-secondary" role="alert">
      <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary" onclick="PantallaUsuari()"  id="butPU">
            Reservar pista</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-light" onclick="VeureReserves()"  id="butVR">
            Veure Reserves </button>
        </div>
        <div class="col-sm-2">
          <img src="../static/img/user.png" width="40"> {{ current_user.nom }} {{ current_user.llinatges }} 
        </div>
        <div class="col-sm-2">
          <form name="canviPantalla" method="GET" action="{{url_for('logout')}}">
            <button type="submit" class="btn btn-danger">Logout </button>
          </form>
        </div>
      </div>
    </div> -->
    <div class="row mt-3">
      <div id="alertaReserva" class="alert alert-danger" role="danger" style="display:none;">
      </div>
    </div>
    <!-- Pantalla Reserva -->
    <div id="pantallaReserva" class="row mt-3">
      <div class="col">
        <h2> Reserva pista</h2>
        <p>
          <label for="dia">Dia:</label>
          <input type="date" id="dia" name="dia">
          <label for="hora">Hora:</label>
          <input type="number" step="1" max="20" min="15" name="hora" id="hora" required>
        </p>
        <p>
          <label for="tipopista">Tipus pista:</label>
          <select class="form-select" id="tipopista" name="tipopista">
            <option value="Coberta"> Coberta - 12 €</option>
            <option value="Exterior"> Exterior - 8 €</option>
          </select>
          <label for="multiple">Reserva múltiple:</label>
          <select class="form-select" id="multiple" name="multiple" value="1">
            <option value="1"> Fer només 1 reserva</option>
            <option value="2"> Reservar per les pròximes 2 setmanes a la mateixa hora</option>
            <option value="4"> Reservar per les pròximes 4 setmanes a la mateixa hora</option>           
          </select>
        </p>
        <div style="text-align: center">
          <button class="btn btn-success" onclick="EnviaForm()"  id="butForm">Envia Reserva</button>
        </div>
        <h2> Les meves reserves </h2>
        <div class="table-responsive">
          <table id="TaulaUsuari" class="table table-bordered table-hover table-striped">
            <thead class="thead-light">
            <th>Dia</th><th>Hora</th><th>Pista</th></thead>
            <tbody>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Pantalla Mostra -->
    <div id="pantallaMostra" class="row mt-3"  style="display:none;">
      <div class="col">
        <div class="alert alert-primary" role="alert">
          <div class="row">
            <div class="col-2">
              <button id="semanaMenos" class="btn float-start">
                <!-- <img src="../static/img/left.png" onclick="SemanaMenos()"> -->
                <img src="../static/img/left.png">
              </button>
            </div>
            <div class="col-8 text-center">
              <h2 id="titolReserves"> Reserves setmana {{session['lunes']}}  a {{session['viernes']}}</h2>
            </div>
            <div class="col-2 text-right">
              <button id="semanaMas" class="btn float-end">
                <!-- <img src="../static/img/right.png" onclick="SemanaMas()"> -->
                <img src="../static/img/right.png">
              </button>
            </div>   
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <!-- <a id="pistaCoberta" class="nav-link active" onclick="CanviPistaCoberta()">Coberta</a> -->
            <a id="pistaCoberta" class="nav-link active">Coberta</a>
          </li>
          <li class="nav-item">
            <!-- <a id="pistaExterior" class="nav-link" onclick="CanviPistaExterior()">Exterior</a> -->
            <a id="pistaExterior" class="nav-link">Exterior</a>
          </li>
        </ul>
        <div class="table-responsive">
          <table id="reservesPista" class="table table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
              <th></th><th>Dilluns</th><th>Dimarts</th><th>Dimecres</th><th>Dijous</th><th>Divendres</th></thead>
            <tbody>
              <button id="libre"></button>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p id="idusuari" hidden>{{ current_user.id }}</p>
    <p id="dilluns" hidden>{{ session['dia'] }}</p>
    <p id="username" hidden>{{ current_user.username }}</p>
    {% include 'scripts.html' %}
  </main>
</body>
</html>