DAW-Workspace.code-workspace
/PROG/Tarea01/Documents/
/PROG/Tarea02/Documents/
/PROG/Tarea03/Documents/
/PROG/Tarea04/Documents/
/PROG/Tarea05/Docs/
/PROG/Tarea06/Docs/
/PROG/Tarea07/Docs/
/PROG/Tarea08/Docs/

/PROG/Tarea02/Prog02Ejer01/nbproject/private/
/PROG/Tarea02/Prog02Ejer02/nbproject/private/
/PROG/Tarea02/Prog02Ejer03/nbproject/private/
/PROG/Tarea02/Prog02Ejer04/nbproject/private/
/PROG/Tarea02/Prog02Ejer05/nbproject/private/
/PROG/Tarea02/Prog02Ejer06/nbproject/private/
/PROG/Tarea02/Prog02Ejer07/nbproject/private/
/PROG/Tarea02/Prog02Ejer08/nbproject/private/
/PROG/Tarea02/Prog02Ejer09/nbproject/private/
/PROG/Tarea02/Prog02Ejer10/nbproject/private/
/PROG/Tarea02/Prog02Ejer01/build/
/PROG/Tarea02/Prog02Ejer02/build/
/PROG/Tarea02/Prog02Ejer03/build/
/PROG/Tarea02/Prog02Ejer04/build/
/PROG/Tarea02/Prog02Ejer05/build/
/PROG/Tarea02/Prog02Ejer06/build/
/PROG/Tarea02/Prog02Ejer07/build/
/PROG/Tarea02/Prog02Ejer08/build/
/PROG/Tarea02/Prog02Ejer09/build/
/PROG/Tarea02/Prog02Ejer10/build/
/PROG/Tarea02/Prog02Ejer01/dist/
/PROG/Tarea02/Prog02Ejer02/dist/
/PROG/Tarea02/Prog02Ejer03/dist/
/PROG/Tarea02/Prog02Ejer04/dist/
/PROG/Tarea02/Prog02Ejer05/dist/
/PROG/Tarea02/Prog02Ejer06/dist/
/PROG/Tarea02/Prog02Ejer07/dist/
/PROG/Tarea02/Prog02Ejer08/dist/
/PROG/Tarea02/Prog02Ejer09/dist/
/PROG/Tarea02/Prog02Ejer10/dist/

/PROG/Tarea03/martinez_rodriguez_angel_PROG03_Ejer01/nbproject/private/
/PROG/Tarea03/martinez_rodriguez_angel_PROG03_Ejer02/nbproject/private/
/PROG/Tarea03/martinez_rodriguez_angel_PROG03_Ejer01/dist/
/PROG/Tarea03/martinez_rodriguez_angel_PROG03_Ejer01/build/
/PROG/Tarea03/martinez_rodriguez_angel_PROG03_Ejer02/build/
/PROG/Tarea03/martinez_rodriguez_angel_PROG03_Ejer02/dist/

/PROG/Tarea04/Supuesto01/nbproject/private/
/PROG/Tarea04/Supuesto02/nbproject/private/
/PROG/Tarea04/Supuesto03/nbproject/private/
/PROG/Tarea04/Supuesto04/nbproject/private/
/PROG/Tarea04/Supuesto01/build/
/PROG/Tarea04/Supuesto02/build/
/PROG/Tarea04/Supuesto03/build/
/PROG/Tarea04/Supuesto04/build/
/PROG/Tarea04/Supuesto01/dist/
/PROG/Tarea04/Supuesto02/dist/
/PROG/Tarea04/Supuesto03/dist/
/PROG/Tarea04/Supuesto04/dist/

/PROG/Tarea05/AplicacionCuentaBancaria/nbproject/private/
/PROG/Tarea05/AplicacionCuentaBancaria/build/
/PROG/Tarea05/AplicacionCuentaBancaria/dist/

/ED/ED02/Martinez_Rodriguez_Angel_ED02_Tarea.*
/ED/ED03/Docs
/ED/ED03/PrácticaUnidad3/nbproject/private/
/ED/ED03/PrácticaUnidad3/build/
/ED/ED03/PrácticaUnidad3/dist/