{% extends "template_base.html"%}
{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <div class="alert alert-primary" role="alert">
        <div class="row">
          <div class="col-sm-9">
           <h2> Usuaris</h2>
          </div>
          <div class="col-sm-3">
             <a href="{{url_for('formuser')}}" class="btn btn-primary"><img src="../static/add.png" width="32">Afegir Usuari </a>
          </div>   
        </div>       
      </div>
      <div class="table-responsive">
        <table id="userList" class="table table-bordered table-hover table-striped">
          <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Llinatges</th>
            <th scope="col">Telefon</th>
            <th>Acció</th>
          </tr>
          </thead>
          <tbody>
            {% for u in usuaris %}
              {% if u['idclient']|string == id|string %}
                <!-- Si es el id a editar se pone un formulario. -->
                <tr>
                  <form action="{{url_for('updateuser')}}" method="POST">
                    <td><input type="hidden" name="idclient" value="{{u['idclient']}}">{{u['idclient']}}</td>
                    <td><input type="text" name="nom" id="nom" placeholder="{{u['nom']}}" required></td>
                    <td><input type="text" name="llinatges" id="llinatges" placeholder="{{u['llinatges']}}" required></td>
                    <td><input type="tel" name="telefon" id="telefon" placeholder="{{u['telefon']}}" required></td>
                    <td>
                      <button type="submit"><img src="../static/check.png" width="32"></button>
                    </td>
                  </form>
                </tr>
              {% else %}
                <tr>
                  <td>{{u['idclient']}}</td>
                  <td>{{u['nom']}}</td>
                  <td>{{u['llinatges']}}</td>
                  <td>{{u['telefon']}}</td>
                  <td>
                    <a href="{{url_for('modifica')}}?idclient={{u['idclient']}}"><img src="../static/pencil.png" width="32"></a>&nbsp
                    <a href="{{url_for('elimina')}}?idclient={{u['idclient']}}"><img src="../static/remove.png" width="32"></a>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}