{% extends "template_base.html"%}
{% block content %}
  {% if error %}
    <div class="alert alert-danger" role="alert">
      <p>La pista ja está ocupada</p>
    </div>
  {% endif %}
  <section class="my-3">
    <div class="container h-90">
      <div class="card">
        <div class="text-center">
          <form name="reserva" method="POST" action="{{url_for('reserves')}}">
            <div class="card-header bg-secondary">
              <h2> Reserva pista</h2>
            </div>
            <div class="card-body">
              <label for="dia">Dia:</label>
              <input type="date" id="dia" name="dia" value="{{fecha}}">
              <label for="hora">Hora:</label>
              <input type="number" step="1" max="20" min="15" name="hora" id="hora" required>
            </div>
            <div class="card-header bg-secondary">
              <h2>Tipus pista</h2>
            </div>
            <div class="card-body">
              <select class="form-select" id="tipopista" name="tipopista">
                {% for p in pistes %}
                  <option value="{{p['idpista']}}">{{p['tipo']}} - {{p['preu']}}€</option>
                {% endfor %}
              </select>
            </div>
            <div class="card-header bg-secondary">
              <h2>Usuari</h2>
            </div>
            <div class="card-body">
              <select class="form-select" id="usuari" name="usuari">
                {% for u in usuaris %}
                  <option value="{{u['idclient']}}"> {{u['nom']}} {{u['llinatges']}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="card-body">
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="submit" value="Enviar" class="btn btn-success btn-floating btn-lg mx-4">Enviar</button>
                <button type="reset" value="Limpiar" class="btn btn-danger btn-floating btn-lg mx-4">Reset</button>
              </div>
            </div>
            <div class="card-footer text-muted">
              Formulari reserva
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}