<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Tasca DWES3 - Gimnàs amb mySQL</title>
  </head>
<body>
    <header>
        <h1>Tasca DWES3 - Gimnàs amb mySQL</h1>
        <div class="alert alert-secondary" role="alert">
        <div class="row">
            <div class="col-sm-2">
            <form name="canviPantalla" method="POST" action="{{url_for('formulari')}}">
                <button type="submit" class="btn btn-light">Reservar pista</button>
            </form>
            </div>
            <div class="col-sm-2">
            <form name="canviPantalla" method="POST" action="{{url_for('reserves')}}">
                <button type="submit" class="btn btn-primary">Veure Reserves </button>
            </form>
            </div>
            <div class="col-sm-2">
            <form name="canviPantalla" method="POST" action="{{url_for('usuaris')}}">
                <button type="submit" class="btn btn-light">Usuaris </button>
            </form>
            </div>
        </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="px-3 py-2 bg-dark text-white text-center align-items-center justify-content-center">
        <p class="my-2">Angel Martinez Rodriguez</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>