{% extends "template_base.html"%}
{% block content %}
  <div class="row">
    <div class="col-md">
      <div class="alert alert-primary" role="alert">
        <div class="row">
          <div class="col-6 text-center">
           <h2> Usuaris</h2>
          </div>
          <div class="col-6 text-center">
             <a href="{{url_for('formuser')}}" class="btn btn-primary"><img src="../static/add.png" width="32">Afegir Usuari </a>
          </div>   
        </div>       
      </div>
      <div class="container h-90">
        <div class="table-responsive">
          <table id="userList" class="table table-bordered table-hover table-striped">
            <thead class="table-dark text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Llinatges</th>
                <th scope="col">Telefon</th>
                <th>Acció</th>
              </tr>
            </thead>
            <tbody>
              {% for u in usuaris %}
                <tr>
                  <td class="text-center">{{u['idclient']}}</td>
                  <td>{{u['nom']}}</td>
                  <td>{{u['llinatges']}}</td>
                  <td class="text-center">{{u['telefon']}}</td>
                  <td class="text-center">
                    <a href="{{url_for('modifica')}}?idclient={{u['idclient']}}"><img src="../static/pencil.png" width="32"></a>&nbsp
                    <a href="{{url_for('elimina')}}?idclient={{u['idclient']}}"><img src="../static/remove.png" width="32"></a>
                  </td>
                </tr>
              {% endfor %}
              {% if id %}
                <tr>
                  <form action="{{url_for('adduser')}}" method="POST">
                    <td class="text-center"><input type="hidden" name="idclient" value="{{id}}">{{id}}</td>
                    <td><input type="text" name="nom" id="nom" required></td>
                    <td><input type="text" name="llinatges" id="llinatges" required></td>
                    <td><input type="tel" name="telefon" id="telefon" required></td>
                    <td class="text-center">
                      <button type="submit"><img src="../static/check.png" width="32"></button>
                    </td>
                  </form>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}