{% extends "template_base.html"%}
{% block tittle %} Tasca DWES05 - Gimnàs amb mySQL {% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="row">
            <div class="alert alert-danger alter-dismissable fade show row" role="alert">
              <div class="col-11 text-center">{{ message }}</div>
              <div class="col-1 text-right">
                <button type="button" class="btn-close" data-dismiss="alert"></button>
              </div>
            </div>
          </div>
        {% else %}
          <div class="row">
            <div class="alert alert-success alter-dismissable fade show row" role="alert">
              <div class="col-11 text-center">{{ message }}</div>
              <div class="col-1 text-right">
                <button type="button" class="btn-close" data-dismiss="alert"></button>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="alert alert-secondary" role="alert">
      <h2 class="text-center">Bienvenido {{current_user.nom}}</h2>
    </div>
  </div>
  <section class="container h-90">
    <h3>Dades de l'usuari</h3>
    <p>Id: {{current_user.id}}</p>
    <p>Usuari: {{current_user.username}}</p>
    <p>Nom: {{current_user.nom}}</p>
    <p>Llinatges: {{current_user.llinatges}}</p>
    <p>Email: {{current_user.email}}</p>
    <p>Telefon: {{current_user.telefon}}</p>
  </section>
{% endblock %}