{% extends "template_base.html"%}
{% block tittle %} Tasca DWES05 - Gimnàs amb mySQL {% endblock %}
{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  <div class="row">
    <div class="alert alert-secondary text-center" role="alert">
      <div class="row">
        <div class="col-sm-2">
          <a href="{{url_for('site.prev_week')}}?fecha={{fecha}}"><img src="{{url_for('static', filename='img/left.png')}}"></a>
        </div>
        <div class="col-sm-8">
          <h2> Reserves setmana {{swd}} a {{ewd}}</h2>
        </div>
        <div class="col-sm-2">
          <a href="{{url_for('site.next_week')}}?fecha={{fecha}}"><img src="{{url_for('static', filename='img/right.png')}}"></a>
        </div>   
      </div>       
    </div>
  </div>
  <div class="container h-90">
    <div class="table-responsive">
      <table id="userList" class="table text-center table-responsive-md table-bordered table-striped table-sm bg-light border-dark">
        <thead class="table-dark">
          <th>Pista</th>
          <th>Hora</th>
          <th>Dilluns</th>
          <th>Dimarts</th>
          <th>Dimecres</th>
          <th>Dijous</th>
          <th>Divendres</th>
        </thead>
        <tbody>
            {% for key, tab_item in tab.items() %}
              {% for key2, hour_item in tab_item.items() %}
                <tr class="{{key}}">
                  {% if loop.first %}
                    <th class="align-middle text-capitalize" rowspan="{{ loop.length }}">{{key}}</th>
                  {% endif %}
                  <th>{{ key2 }}</th>
                  {% for key3, day_item in hour_item.items() %}
                    {% if day_item == "RESERVAT" %}
                      <td class="text-capitalize user_reservation">{{day_item}}</td> 
                    {% else %}
                      <td class="text-capitalize">{{day_item}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}