body {
    background-color: grey;
}

header {
    text-transform: uppercase;
}

header a:link,
header a:visited{
    text-decoration: none;
}

main {
    background-color: #fff;
    /* overflow: hidden */
}

section {
    padding-bottom: 1rem;
}

.bi {
    display: inline-block;
    vertical-align: -.120em;
}

.exterior {
    background-color: #D5F5E3;
}

.coberta {
    background-color: #F6DDCC;
}

#userList td,
#userList th {
    width: calc(100%/7);
}