body {
    background-color: grey;
}

header {
    text-transform: uppercase;
}

header a:link,
header a:visited{
    text-decoration: none;
}

.bi {
    display: inline-block;
    vertical-align: -.125em;
}
