{% extends "template_base.html"%}
{% block content %}
  {% if (reservada) %}
  <div class="alert alert-danger text-center" role="alert">
    <p class="my-2">La pista no esta disponible. Por favor realice otra reserva.</p>
  </div>
  {% endif %}
  <section class="my-3">
    <form name="reserva" method="POST" action="{{url_for('reserves')}}">
      <div class="container h-90">
        <div class="card text-center">
          <div class="card-header bg-dark text-white">
            <h2>Formulari de Reserva de Pista</h2>
          </div>
          <div class="card-header bg-secondary">
            <h3>Dades Pista</h3>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sd-auto col-md-2 col-lg-1">
                <h6 class="mb-0">Dia</h6>
              </div>
              <div class="col-sd-auto col-md-10 col-lg-11">
                <select class="form-control form-control-lg form-select" id="dia" name="dia" value="Dia" required>
                  <option value="dilluns">Dilluns</option>
                  <option value="dimarts">Dimarts</option>
                  <option value="dimecres">Dimecres</option>
                  <option value="dijous">Dijous</option>
                  <option value="divendres">Divendres</option>
                </select>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center">
              <div class="col-sd-auto col-md-2 col-lg-1">
                <h6 class="mb-0">Hora</h6>
              </div>
              <div class="col-sd-auto col-md-10 col-lg-11">
                <input type="time" step="3600" class="form-control form-control-lg" min="15:00" max="20:00" name="hora" id="hora" required>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center">
              <div class="col-md-6 text-center">
                <input class="form-check-input" type="radio" name="tipopista" id="tipopista1" value="exterior" required>
                <label class="form-check-label" for="tipopista1">Exterior</label>
              </div>
              <div class="col-md-6 text-center">
                <input class="form-check-input" type="radio" name="tipopista" id="tipopista2" value="coberta" required>
                <label class="form-check-label" for="tipopista2">Coberta</label>
              </div>
            </div>
          </div>
          <div class="card-header bg-secondary">
            <h3>Dades Usuari</h3>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sd-auto col-md-2 col-lg-1">
                <h6 class="mb-0">Nom</h6>
              </div>
              <div class="col-sd-auto col-md-10 col-lg-11">
                <input class="form-control form-control-lg" type="text" name="nom" id="nom" placeholder="Nom i Llinatges" required>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center">
              <div class="col-sd-auto col-md-2 col-lg-1">
                <h6 class="mb-0">Telefon</h6>
              </div>
              <div class="col-sd-auto col-md-10 col-lg-11">
                <input class="form-control form-control-lg" type="tel" name="telefon" id="telefon" pattern="[6-9]{1}[0-9]{8}" placeholder="123456789" required>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="submit" value="Enviar" class="btn btn-success btn-floating btn-lg mx-4">Enviar</button>
              <button type="reset" value="Limpiar" class="btn btn-danger btn-floating btn-lg mx-4">Reset</button>
            </div>
          </div>
          <div class="card-footer text-muted">
            Formulari reserva
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}