{% extends "template_base.html"%}
{% block content %}
  <section class="my-3">
    <div class="container h-90">
      <div class="card text-center">
        <div class="card-header bg-dark text-white">
          <h2>Opció senzilla</h2>
        </div>
        <div class="card-body">
          <!--Comprobamos si el array de reservas contiene datos y si los contiene los imprime en formato table.-->
          {% if (data is defined) and data %}
            {% for res in data %} <!-- Genera una tabla por cada reserva.-->
              <table class="table table-bordered table-sm bg-light border-dark">
                <tbody>
                  <tr>
                    <th>Dia</th>
                    <td class="text-capitalize" scope="row">{{res['dia']}}</td>       
                    <th>Hora</th>
                    <td scope="row">{{res['hora']}}</td>
                    <th>Tipus</th>
                    <td class="text-capitalize" scope="row">{{res['pista']}}</td>
                  </tr>
                  <tr>
                    <th>Usuari</th>
                    <td class="text-capitalize" scope="row" colspan="3">{{res['nom']}}</td> 
                    <th>Telefon</th>
                    <td scope="row">{{res['telefon']}}</td>       
                  </tr>
                </tbody>
              </table>
            {% endfor %}
          {% else %}
            <!--El array data no contiene datos por lo que no hay reservas y mostramos el mensaje en formato alert.-->
            <div class="alert alert-warning text-center" role="alert">
              <p class="my-2">No hay reservas.</p>
            </div>
          {% endif %}
        </div>
        <div class="card-footer text-muted">
          Reservas
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container h-90">
      <div class="card text-center">
        <div class="card-header bg-dark text-white">
          <h2 class="text-center"> Opció avançada</h2>
        </div>
        <div class="card-body">
          <table class="table text-center table-responsive-md table-bordered table-sm bg-light border-dark">
            <thead class="table-dark">
              <th>Pista</th>
              <th>Hora</th>
              <th>Dilluns</th>
              <th>Dimarts</th>
              <th>Dimecres</th>
              <th>Dijous</th>
              <th>Divendres</th>
            </thead>
            <tbody>
              <!-- Imprime las filas de la pista exterior-->
              <!-- Recorremos el array que contiene los diccionarios de las reservas de la pista exterior.-->
              {% for ext in tabext %}
                <tr>
                  {% if loop.first %}
                  <th class="align-middle" rowspan="{{ loop.length }}">Exterior</th>
                  {% endif %}
                  <!-- Recorremos los diccionarios de las reservas de la pista exterior.-->
                  {% for item in ext %}
                    {% if loop.first %}
                      <!--Imprime el valor de item. Como el primero es la hora se pone en th-->
                      <th>{{ ext[item] }}</th>
                    {% else %}
                      <!--Imprime el valor de item para cada dia con el nombre de la reserva.-->
                      <td class="text-capitalize">{{ ext[item] }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              <!-- Imprime las filas de la pista cubierta-->
              <!-- Recorremos el array que contiene los diccionarios de las reservas de la pista cubierta.-->
              {% for cob in tabcob %}
                <tr>
                  {% if loop.first %}
                  <th class="align-middle" rowspan="{{ loop.length }}">Exterior</th>
                  {% endif %}
                  <!-- Recorremos los diccionarios de las reservas de la pista cubierta.-->
                  {% for item in cob %}
                    {% if loop.first %}
                      <!--Imprime el valor de item. Como el primero es la hora se pone en th-->
                      <th>{{ cob[item] }}</th>
                    {% else %}
                      <!--Imprime el valor de item para cada dia con el nombre de la reserva.-->
                      <td class="text-capitalize">{{ cob[item] }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted">
          Tabla reserva pistas
        </div>
      </div>
    </div>
  </section>
{% endblock %}