html,
body {
    height: 100%;
}

body {
    background-color: grey;
    margin: auto;
}

header {
    text-transform: uppercase;
}

header a:link,
header a:visited{
    text-decoration: none;
}

main {
    background-color: #fff;
    margin: auto;
    /* overflow: hidden */
}

nav {
    padding: 10px;
}

section {
    padding-bottom: 1rem;
}

section#login {
    padding-top: 1rem;
}

.login {
    width: 18rem;
}

.bi {
    display: inline-block;
    vertical-align: -.120em;
}

.exterior {
    background-color: #D5F5E3;
}

.coberta {
    background-color: #F6DDCC;
}

#userList td,
#userList th {
    width: calc(100%/7);
}

/* Solucion para el overflow del row */
.row {
    margin-left: 0;
    margin-right: 0;
}

.container .row {
    margin-left: -15px;
    margin-right: -15px;
}

td.user_reservation {
    background-color: chartreuse;
}