@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {

    --clr-primary-700: #F34A4E;
    --clr-primary-900: #B40431;

    --clr-white: #fff;
    --clr-white-2: #EAEDED;
    --clr-dark: #1C1C1C;

    --clr-daw: #f7dc6f;
    --clr-diw: #76d7c4;
    --clr-dwes: #e59866;
    --clr-dwec: #7fb3d5;
    --clr-tut: #808b96;
    --clr-hora: #f8f9f9;

    --clr-table-header: #444343;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 3em;
}


h2 {
    font-size: 2em;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    margin: 0;
}

header {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 2em;
}

main.main-content {
    margin: auto;
}

section {
    margin: 1em;
}

.card {
    border-radius: 12px;
    background-color: var(--clr-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.section-header {
    border-top: 1;
    padding: 2em 1em 1em 1em;
    border-radius: 12px 12px 0 0;
}

.section-content {
    background-color: var(--clr-white);
    padding: 2em;
    overflow-x: auto;
}

.section-footer {
    background-color: var(--clr-white);
    padding: 1em 1em 2em 1em;
    border-radius: 0 0 12px 12px;
    color: #2E2E2E;
}

/* Estilo comun para las tablas */
table {
    margin: auto;
    width: 90%;
    table-layout: auto;
    border-collapse: collapse;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 1em;
    width: 15%;
}
/* Fin estilo comun */

/* Estilo tabla1 */
.scheduled-table {
    background-color: var(--clr-white-2);
}

.scheduled-table thead th {
    background-color: var(--clr-table-header);
    color: var(--clr-white);
    font-weight: 700;
}

.scheduled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--clr-table-header);
}

.scheduled-table td.daw:hover,
.scheduled-table td.diw:hover,
.scheduled-table td.dwec:hover,
.scheduled-table td.dwes:hover,
.scheduled-table td.tut:hover {
    background-color: var(--clr-primary-900);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(360deg);
    transition: 1s;
}

.scheduled-table th.hora,
.scheduled-table td.hora {
    width: 7%;
}

.scheduled-table td.hora {
    background-color: var(--clr-hora);
}

.scheduled-table .diw {
    background-color: var(--clr-diw);
}

.scheduled-table .tut {
    background-color: var(--clr-tut);
}

.scheduled-table .dwes {
    background-color: var(--clr-dwes);
}

.scheduled-table .dwec {
    background-color: var(--clr-dwec);
}

.scheduled-table .daw {
    background-color: var(--clr-daw);
}

/* Estilo tabla2 */

.childs-table thead th {
    background-color: var(--clr-primary-900);
    color: var(--clr-white);
    font-weight: bold;
}

.childs-table tbody tr {
    border-bottom: 1px solid #ddd;
}


.childs-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.childs-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--clr-primary-900);
}

.childs-table tbody tr:hover {
    background-color: var(--clr-primary-700);
}
/* Fin estilo tabla2 */

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

footer {
    background-color: var(--clr-dark);
    right: 0;
    left: 0;
    position: relative;
    color: var(--clr-white);
    text-align: center;
    padding: 1.5rem;
}

footer a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 25px;
}