body {
    font-family: arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.5em;
}
#container {
    width: 80%;
    margin: auto;
}
.esquerra{
    float:left;
    width:auto;
    margin-right:3em;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}
table,
tr,
th,
td{
    border: 1px solid;
}
th,
td {
    padding: 1em;
    width: 15%;
}