@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --clr-primary-200: #f3ed99;
    --clr-primary-600: #FF0040;
    --clr-primary-900: #B40431;

    --clr-neutral-100: #fff;
    --clr-neutral-200: #EAEDED;
    --clr-neutral-300: #E5E8E8;
    --clr-neutral-500: #B2BABB;
    --clr-neutral-800: #2E2E2E;
    --clr-neutral-900: #1C1C1C;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2 {
    text-transform: uppercase;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-neutral-500);
    margin: 0;
}

header {
    background-color: var(--clr-neutral-900);
}

/* Primary header */
.logo {
    margin: 2rem;
    width: 40%;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
}

.navbar-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation li .fa {
    margin-right: .5em;
}

.primary-navigation a{
    text-decoration: none;
    color: var(--clr-neutral-100);
}

.banner-area{
    width: 100%;
    height: 500px;
    top: 110px;
    background: url(../img/code.png) #1C1C1C;
    background-size: cover;
    position: fixed;
}

.banner-area::after{
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-area h1,
.banner-area p{
    color: var(--clr-neutral-100);
}

.banner-area h1 {
    font-size: 4em;
}

.banner-area-text {
    padding-top: 20vh;
}

.content-area{
    width: 100%;
    position: relative;
    background: var(--clr-neutral-100);
    flex-wrap: wrap;
}

.content-area p{
    padding: 10px 1em;
    text-align: justify;
}

.section-header {
    padding: 1em;
}

.section-content {
    padding: 1em 2em 1em 2em;
    border-bottom: 1px solid var(--clr-neutral-500);
}

.section-header > h1 {
    color: var(--clr-primary-900);
}

.article-header  {
    padding: 0 15px;
    margin-bottom: 5px;
}

.article-content{
    padding: 1em;
}

.article-footer{
    border-top: 1px solid var(--clr-neutral-500);
    padding: 1em;
}

.article-footer > *{
    width: 100%;
    padding: 0 1em;
}

footer {
    background-color: var(--clr-neutral-900);
    position: relative;
    right: 0;
    left: 0;
    top: 60vh;
    color: var(--clr-neutral-100);
    text-align: center;
    padding: 1.5rem;
}

footer a{
    color: var(--clr-neutral-100);
    text-decoration: none;
    font-size: 25px;
}


/* Primary header

header {
    background-color: var(--clr-neutral-900);
    text-transform: uppercase;
}

.navbar-brand-logo {
    margin: 2rem;
}

.navbar-brand-logo > img {
    width: 50%;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.navbar {
    background-color: var(--clr-neutral-900);
    text-decoration: none;
}

.navbar-menu {
    margin: 2em;
}

.navbar-menu > a {
    text-decoration: none;
    color: var(--clr-neutral-100);
    background-color: red;
    height: 100%;
    padding: 2.65em 0;
    border-bottom:2px solid green;
}

section {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--clr-neutral-100);
}

section h1,
section h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid var(--clr-neutral-500);
}

section > * {
    margin: 1em 1em;
}

article > * {
    margin: 1em 1em;
}


*/

/*-----------------------*/
/*----- Utilidades ------*/
/*-----------------------*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-item{
    flex: 1;
    flex-grow: 1;
}

.columns {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--clr-neutral-500);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.text-center{
    text-align: center;
}

.box-shadow{
    box-shadow: 5px 10px 18px #888888;
}

/*sr-only es una funcionalidad calco de bootstrap para ocultar información 
destinada a lectores de pantalla*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*--------------------------*/
/*----- Media Queries ------*/
/*--------------------------*/

@media (max-width: 35em){
    .primary-navigation {
        --gap: 1em;

        position: fixed;
        z-index: 1000;
        inset: 0;

        flex-direction: column;
        padding: min(20vh, 10rem) 2em;
        
        transform: translateX(100%);
        transition: transform 300ms ease-in;

        background: hsl(0, 0%, 11%, 0.9);
        backdrop-filter: blur(1rem);
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .primary-navigation{
        text-align: center;
    }

    .primary-navigation li {
        font-size: 1.5em;
    }
    
    .primary-navigation a .nav-link-container{
        padding-block: 2.8rem;
        padding-inline: 1rem;
        margin-inline: -1.2em;
    }

    .primary-navigation a > *:hover {
        background-color: var(--clr-neutral-100);
        color: var(--clr-neutral-900);
    }

    .primary-navigation a.active > * {
        background-color: var(--clr-primary-600);
    }

    .navbar-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: transparent;
        border: transparent;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .navbar-toggle .fa {
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }

    .content-area {
        top: 60vh;
    }

    .columns {
        flex-direction: column;
    }

}

@media (min-width: 35em) and (max-width: 55rem) { 
    .content-area{
        top: 65vh;
    }
}

@media (min-width: 35em){

    .primary-navigation{
        padding-inline: 1rem;
    }

    .primary-navigation a .nav-link-container{
        padding-block: 2.8rem;
        padding-inline: 1rem;
    }

    .primary-navigation a.active > .nav-link-container{
        font-weight: 700;
        border-bottom: 3px solid var(--clr-neutral-100);
    }

    .primary-navigation a.active{
        color: var(--clr-primary-600);
    }

    .primary-navigation a > *:hover {
        background-color: var(--clr-primary-600);
        border-bottom: 3px solid var(--clr-primary-600);
    }

    .primary-navigation a.active:hover{
        color: var(--clr-neutral-100);
    }

    .content-area {
        top: 60vh;
    }
}