<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Tasca DWES3 - Gimnàs amb mySQL</title>
  </head>
  <body>
    <h1>Tasca DWES3 - Gimnàs amb mySQL</h1>
    <div class="alert alert-secondary" role="alert">
      <div class="row">
        <div class="col-sm-2">
          <form name="canviPantalla" method="GET" action="{{url_for('formulari')}}">
            <button type="submit" class="btn btn-primary">Reservar pista</button>
          </form>
        </div>
        <div class="col-sm-2">
          <form name="canviPantalla" method="GET" action="{{url_for('reserves')}}">
            <button type="submit" class="btn btn-light">Veure Reserves </button>
          </form>
        </div>
        <div class="col-sm-2">
          <form name="canviPantalla" method="GET" action="{{url_for('usuaris')}}">
            <button type="submit" class="btn btn-light">Usuaris </button>
          </form>
        </div>
      </div>
    </div>
    {% if alerta %}
      <div class="alert alert-danger" role="danger">
        {{alerta}}
      </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-4">
    <form name="reserva" method="GET" action="{{url_for('reservar')}}">
          <h2> Reserva pista</h2>
      <p>
        <label for="dia">Dia:</label>
        <input type="date" id="dia" name="dia" value="2021-11-22">
        <label for="hora">Hora:</label>
        <input type="number" step="1" max="20" min="15" name="hora" id="hora" required>
    </p>

    <h2> Tipus pista </h2>
    <p>
      <select class="form-select" id="tipopista" name="tipopista">
        <option value="1"> Coberta - 12 €</option>
        <option value="2"> Exterior - 8 €</option>
      </select>
    </p>

    <h2> Usuari</h2>

    <p>
      <select class="form-select" id="usuari" name="usuari">
    {% for u in usuaris %}
    <option value="{{u['idclient']}}">{{u['nom']+" "+u['llinatges']}}
    </option>
    {% endfor %}
      </select>
    </p>
    <div style="text-align: center">
        <input type="submit" value="Enviar" name="enviar" style="margin-right: 5px; width: 60px; height:30px; font-weight: bold">
        <input type="reset" value="Limpiar" style="width: 60px; height:30px; font-weight: bold">
    </div>
</form>
  </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>